body {
	background-color: black;
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: Times New Roman;
}
button {
	background-color: white;
	text-align: center;
	color: black;
	height: 80px;
	width: 200px;
	font-size: 50px;
	font-family: Times New Roman;
}
span {
	color: red;
	font-size: 200px;
	font-family: Times New Roman;
}
h1 {
	font-size: 100px;
}